# task 1:

## linear regression model to predict the prices of houses based on their square footage and the number of bedrooms and bathrooms:

## importing the packages:

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import copy,math
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

## loading the dataset:

In [2]:
def load_data(filepath):
    return pd.read_csv(filepath)

data = load_data('train.csv')

spliting the dataset to training and testing

In [3]:
train_set, test_set = train_test_split(data, test_size=0.2, random_state=42)

## build new features from train given features:

In [4]:
# Extract square footage columns
square_footage_columns = ['1stFlrSF', '2ndFlrSF', 'TotalBsmtSF', 'GrLivArea']
train_set['TotalSquareFootage'] =train_set[square_footage_columns].sum(axis=1)
train_set['SalePrice']=train_set['SalePrice']/1000
# Extract number of bedrooms
train_set['Bedrooms'] = train_set['BedroomAbvGr']

# Calculate number of bathrooms
train_set['Bathrooms'] = (train_set['FullBath'] + train_set['HalfBath']*0.5 +train_set['BsmtFullBath'] + train_set['BsmtHalfBath']*0.5).round()



X_train =train_set[['TotalSquareFootage', 'Bedrooms', 'Bathrooms']]
y_train = train_set['SalePrice']

In [5]:
X_train

      TotalSquareFootage  Bedrooms  Bathrooms
254                 3942         3        2.0
1066                3941         3        2.0
638                 2388         2        1.0
799                 4267         3        2.0
380                 4408         3        2.0
...                  ...       ...        ...
1095                3942         3        2.0
1130                5084         4        3.0
1294                2592         2        2.0
860                 3764         3        2.0
1126                4483         2        2.0

[1168 rows x 3 columns]

In [6]:
y_train

254     145.000
1066    178.000
638      85.000
799     175.000
380     127.000
         ...
1095    176.432
1130    135.000
1294    115.000
860     189.950
1126    174.000
Name: SalePrice, Length: 1168, dtype: float64

## Applying the LinearRegression Model to the three new features and target:

In [7]:
Model=LinearRegression()
Model.fit(X_train,y_train)
w=Model.coef_
print(w)
b=Model.intercept_
print(b)

[  0.04275137 -18.74250186  20.67207716]
14.153674325675581

## loading the testing set:

In [8]:
test_data=pd.read_csv('test.csv')

## build new features from test given features with the same logic as train features:

In [9]:
test_set['TotalSquareFootage'] =test_set[square_footage_columns].sum(axis=1)
test_set['SalePrice']=test_set['SalePrice']/1000
# Extract number of bedrooms
test_set['Bedrooms'] = test_set['BedroomAbvGr']

# Calculate number of bathrooms
test_set['Bathrooms'] = (test_set['FullBath'] + test_set['HalfBath']*0.5 +test_set['BsmtFullBath'] + test_set['BsmtHalfBath']*0.5).round()

X_test =test_set[['TotalSquareFootage', 'Bedrooms', 'Bathrooms']]
y_test = test_set['SalePrice']

# evaluating the model :

In [10]:
print(f'model score {Model.score(X_test,y_test) * 100} %')

model score 73.8033862594636 %